body {
    display: flex;
    justify-content: center;
}
main {
    background-color: #55acee;
    height: 100%;
    width: 100%;
    text-align: center;
    color: #fff;
}
button {
    display: block;
    margin: 60px;
}
.btn {
    justify-content: center;
}